@charset "utf-8";
body ,html{ margin: 0; }

.swiper-container{
	width: 100%;
	height: 100%;
	position: absolute;
}

.arrow{
	position: absolute;
	bottom: 5%;
	z-index: 2;
	width: 100%;
	height: 60px;
	background-image: url(../images/icon_up.png);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-animation: move 1s linear infinite;
	-o-animation: move 1s linear infinite;
	animation: move 1s linear infinite;
}

@keyframes move{
	0%{
		-webkit-transform: translateY(100%);
		-ms-transform: translateY(100%);
		-o-transform: translateY(100%);
		transform: translateY(100%);
		opacity: 0;
	}
	50%{
		-webkit-transform: translateY(50%);
		-ms-transform: translateY(50%);
		-o-transform: translateY(50%);
		transform: translateY(50%);
		opacity: 1;
	}
	100%{
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@-webkit-keyframes move{
	0%{
		-webkit-transform: translateY(100%);
		-ms-transform: translateY(100%);
		-o-transform: translateY(100%);
		transform: translateY(100%);
		opacity: 0;
	}
	50%{
		-webkit-transform: translateY(50%);
		-ms-transform: translateY(50%);
		-o-transform: translateY(50%);
		transform: translateY(50%);
		opacity: 1;
	}
	100%{
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

.swiper-slide {
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center 0;
}

.s1{ background-image: url(../images/t1-bg.png); }

.s1 .a1{
	position: absolute;
	top: 20%;
	left: 10%;
	width: 80%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t1-yuan.png);
}

.s1 .a2{
	position: absolute;
	top: 25%;
	left: 5%;
	width: 90%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t1-text.png);
}

.s2{ background-image: url(../images/t2-bg.png); }

.s2 .a1{
	position: absolute;
	top: 5%;
	left: 35%;
	width: 80%;
	height: 50%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t2-2.png);
}

.s2 .a2{
	position: absolute;
	top: 65%;
	left: 20%;
	width: 60%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t2-3.png);
}

.s3{ background-image: url(../images/t3-bg.png); }

.s3 .a1{
	position: absolute;
	top: 60%;
	left: 25%;
	width: 50%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t3-1.png);
}

.s3 .a2{
	position: absolute;
	top: 5%;
	left: 15%;
	width: 70%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t3-2.png);
}

.s4{ background-color: #F94848; }

.s4 .a1{
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t4-1.png);
}

.s4 .a2{
	position: absolute;
	top: 40%;
	left: 10%;
	width: 80%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t4-2.png);
}

.s4 .a3{
	position: absolute;
	top: 65%;
	left: 10%;
	width: 80%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t4-3.png);
}

.s5{ background-color: #EC5F55; }

.s5 .a1{
	position: absolute;
	left: 20%;
	width: 60%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t5-1.png);
}

.s5 .a2{
	position: absolute;
	top: 15%;
	left: 25%;
	width: 60%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t5-2.png);
}

.s5 .a3{
	position: absolute;
	top: 65%;
	left: 10%;
	width: 80%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t5-3.png);
}

.s6{ background-color: #7876B7; }

.s6 .a1{
	position: absolute;
	top: 5%;
	left: 20%;
	width: 60%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t6-1.png);
}

.s6 .a2{
	position: absolute;
	top: 10%;
	left: 25%;
	width: 60%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t6-2.png);
}

.s6 .a3{
	position: absolute;
	top: 65%;
	left: 20%;
	width: 60%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t6-3.png);
}

.s7{ background-color: #147C79; }

.s7 .a1{
	position: absolute;
	left: 10%;
	width: 80%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t7-1.png);
}

.s7 .a2{
	position: absolute;
	top: 20%;
	left: 20%;
	width: 60%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t7-2.png);
}

.s7 .a3{
	position: absolute;
	top: 65%;
	left: 20%;
	width: 60%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t7-3.png);
}

.s8{ background-color: #619B51; }

.s8 .a1{
	position: absolute;
	top: 5%;
	left: 20%;
	width: 60%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t8-1.png);
}

.s8 .a2{
	position: absolute;
	top: 8%;
	left: 20%;
	width: 60%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t8-2.png);
}

.s8 .a3{
	position: absolute;
	top: 65%;
	left: 20%;
	width: 60%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t8-3.png);
}

.s9{ background-color: #5FBDD9; }

.s9 .a1{
	position: absolute;
	left: 10%;
	width: 80%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t9-1.png);
}

.s9 .a2{
	position: absolute;
	top: 76%;
	left: 5%;
	width: 90%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t9-2.png);
}


.s10{ background-image: url(../images/t10-bg.png);}

.s10 .a1{
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t10-1.png);
}

.s10 .a2{
	position: absolute;
	top: 60%;
	left: 30%;
	width: 40%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t10-2.png);
}

.s10 .a3{
	position: absolute;
	top: 70%;
	left: 25%;
	width: 50%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t10-3.png);
}

.s10 .a4{
	position: absolute;
	top: 80%;
	left: 30%;
	width: 40%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../images/t10-4.png);
}


.off{
	background:none !important
}
.off .yinyue{
	-webkit-animation:none;
	animation:none;
}
.off .sc-yinyue{
	display:none;
}

.sc-yinyue{
	background:url(../images/music.gif);
	background-size:cover;
	height:60px;
	width:60px;
	position:absolute;
	right:10px;
	top:10px;
	z-index:9999;
}

.yinyue{
	background:url(../images/music_off.png);
	background-size:cover;
	height:33px;
	width:33px;
	position:absolute;
	right:20px;
	top:20px;
	-webkit-animation: rotating 1.2s linear infinite;
		-moz-animation: rotating 1.2s linear infinite;
		  -o-animation: rotating 1.2s linear infinite;
			 animation: rotating 1.2s linear infinite;}

@-webkit-keyframes rotating{
	from{-webkit-transform:rotate(0deg)}
	to{-webkit-transform:rotate(360deg)}
}
@keyframes rotating{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}
}
@-moz-keyframes rotating
{
	from{-moz-transform:rotate(0deg)}
	to{-moz-transform:rotate(360deg)}
}
